__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.ruff_cache
.mypy_cache
nosetests.xml
coverage.xml
*,cover
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# VIM
*.sw?

# IPython notebook checkpoints
.ipynb_checkpoints/

local/

.vscode

.venv

.json

local_examples/

# VS Code
*.code-workspace

# develpoment
vanguard.Python

build_stock_data.py

did.bin

.pytest_cache

token.json

data.db
test.db